* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../static/background_index.png'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.mak-logo {
  height: 100px; /* Adjust the height to your preference */
}

.info {
  display: flex;
  flex-direction: column;  /* Stack items vertically */
  align-items: center;     /* Center items horizontally */
  justify-content: center; /* Center items vertically within the container */
  height: calc(100vh - 170px); /* 100vh minus the height of the logos area */
}

.info h2 {
  display: inline-block; /* Make sure the background only covers the text */
  border-radius: 20px; /* Rounded corners */
  padding: 30px 100px; /* Padding inside the counter */
  color: #ffffff; /* White text color */
  margin: 0; /* Remove any default margin */
  font-size: 2.5rem; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center text inside the h1 */
}

.info h3 {
  display: inline-block; /* Make sure the background only covers the text */
  color: #ffffff; /* White text color */
  margin: 0; /* Remove any default margin */
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center text inside the h1 */
}

.info img {
  width: 200px;          /* Adjust the width of the image as needed */
  height: auto;         /* Maintain aspect ratio */
  max-width: 100%;      /* Prevent the image from overflowing its container */
  margin-top: 20px;     /* Add some space between the text and the image */
}

.info h2, .info h3 {
  z-index: 1; /* Ensure the text is above the image */
}

.info {
  position: relative; /* Allows absolute positioning of children if needed */
}




.donation-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px);
}

.donation-counter h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FF8C00;
  border-radius: 20px;
  padding: 40px 40px 10px 60px;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  width: 700px;
  height: 300px;

}

.links-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.hidden-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.6rem;
}

.hidden-link:hover {
  color: #243348;
  text-decoration: underline;
}

.hidden-link-counter {
  color: #243348;
  text-decoration: none;
  font-size: 0.6rem;
}

.hidden-link-counter:hover {
  color: white;
  text-decoration: underline;
}




.logos {
  overflow: hidden;
  padding: 30px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}


.logos-static {
  display: flex;
  justify-content: center; /* Centers the logos horizontally */
  align-items: center; /* Vertically aligns the logos (if different heights) */
  position: fixed; /* Fixes the logos at the bottom of the page */
  bottom: 0; /* Aligns the container to the bottom */
  width: 100%; /* Ensures the container spans the full width of the page */
  background-color: #ffffff; /* Optional: Add a background color */
  padding: 10px 0; /* Optional: Add padding for spacing */
}

.logos-static img {
  max-height: 140px; /* Sets a maximum height for all logos */
  margin: 0 10px; /* Adds space between logos */
  object-fit: contain; /* Ensures logos maintain their aspect ratio */
}

.logos-static-redcross{
  display: flex;
  justify-content: center; /* Centers the logos horizontally */
  align-items: center; /* Vertically aligns the logos (if different heights) */
  position: fixed; /* Fixes the logos at the bottom of the page */
  bottom: 0; /* Aligns the container to the bottom */
  width: 100%; /* Ensures the container spans the full width of the page */
  background-color: #ffffff; /* Optional: Add a background color */
  padding: 10px 0; /* Optional: Add padding for spacing */
}

.logos-static-redcross img {
  max-height: 90px; /* Sets a maximum height for all logos */
  margin: 0 10px; /* Adds space between logos */
  object-fit: contain; /* Ensures logos maintain their aspect ratio */
}

.logos-slide {
  display: inline-block;
  animation: 60s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.btn-orange-outline:hover {
  color: #FF8C00; /* Orange text color */
  border: 2px solid #FF8C00; /* Orange border */
  background-color: white; /* Transparent background */
}

.hidden-link {
  color: #FF8C00;
}

.hidden-link:hover {
  color: white;
}
