* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../static/background_index.png'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.mak-logo {
  height: 100px; /* Adjust the height to your preference */
}

.donation-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px); /* 100vh minus the height of the logos area */
}

.donation-counter h1 {
  display: inline-block; /* Make sure the background only covers the text */
  background-color: #FF8C00; /* Orange background */
  border-radius: 20px; /* Rounded corners */
  padding: 80px 120px; /* Padding inside the counter */
  color: #ffffff; /* White text color */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow for depth */
  margin: 0; /* Remove any default margin */
  font-size: 4rem; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center text inside the h1 */
}


.logos {
  overflow: hidden;
  padding: 30px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 60s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
