<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAK Teller</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- MAK Logo at the top left corner -->
    <div class="header">
        <img src="../static/maklogo.svg" alt="MAK Logo" class="mak-logo">
    </div>

    <div class="donation-counter">
        <h1>Total Donations: €<span id="donation-total">0</span></h1>
    </div>
    <div class="logos">
      <div class="logos-slide">
        <img src="../static/logos_sponsors/btt.png" />
        <img src="../static/logos_sponsors/claassen.jpg" />
        <img src="../static/logos_sponsors/degraaf.jpg" />
        <img src="../static/logos_sponsors/demandemakers.png" />
        <img src="../static/logos_sponsors/dpworld.webp" />
        <img src="../static/logos_sponsors/idlogistics.png" />
        <img src="../static/logos_sponsors/janderijk.jpg" />
        <img src="../static/logos_sponsors/kivits.png" />
        <img src="../static/logos_sponsors/renewt.png" />
        <img src="../static/logos_sponsors/vanboekel.jpg" />
        <img src="../static/logos_sponsors/vandenbosch.png" />
        <img src="../static/logos_sponsors/versteijnen.png" />
      </div>

      <div class="logos-slide">
        <img src="../static/logos_sponsors/btt.png" />
        <img src="../static/logos_sponsors/claassen.jpg" />
        <img src="../static/logos_sponsors/degraaf.jpg" />
        <img src="../static/logos_sponsors/demandemakers.png" />
        <img src="../static/logos_sponsors/dpworld.webp" />
        <img src="../static/logos_sponsors/idlogistics.png" />
        <img src="../static/logos_sponsors/janderijk.jpg" />
        <img src="../static/logos_sponsors/kivits.png" />
        <img src="../static/logos_sponsors/renewt.png" />
        <img src="../static/logos_sponsors/vanboekel.jpg" />
        <img src="../static/logos_sponsors/vandenbosch.png" />
        <img src="../static/logos_sponsors/versteijnen.png" />
      </div>
    </div>

    <script>
        function updateDonationTotal() {
            fetch('/get_total_donations')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('donation-total').innerText = data.total_donations;
                })
                .catch(error => console.error('Error fetching donation total:', error));
        }

        // Update the donation total every 5 seconds
        setInterval(updateDonationTotal, 5000);

        // Initial fetch when the page loads
        updateDonationTotal();
    </script>
</body>
</html>
