<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAK Teller</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- MAK Logo at the top left corner -->
    <div class="header">
        <img src="../static/mak_logo_wit.png" alt="MAK Logo" class="mak-logo">
    </div>

    <div class="info">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h2>Meet the organisation: <br> <span style="font-size: 3em;">MDT x R-Newt</span></h2>
      <h3>This local youth organisation helps youth and kids in Tilburg and surroundings!</h3>
        <br>
        <div>
          <img style="height: 250px; width: auto"src="../static/logos_charities/mdt.png" alt="">
          <img style="height: 310px; width: auto; background-color: white; padding: 5px; margin-left: 40px" src="../static/logos_sponsors/renewt.png" alt="">
        </div>
    </div>
    <div>
      <a href="/" class = "hidden-link-counter"> Back to counter</a>
    </div>

    <script>
        function updateDonationTotal() {
            fetch('/get_total_donations')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('donation-total').innerText = data.total_donations;
                })
                .catch(error => console.error('Error fetching donation total:', error));
        }

        // Update the donation total every 5 seconds
        setInterval(updateDonationTotal, 5000);

        // Initial fetch when the page loads
        updateDonationTotal();
    </script>
</body>
</html>
